<!-- <!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div class="data-upload-form">
                <input type="file" id="data-folder" name="data-folder" multiple>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html> -->
<html>
    <head>
        <title>Upload Folder using PHP </title>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data"> 
            Type Folder Name:<input type="text" name="foldername" /><br/><br/>
            Select Folder to Upload: <input type="file" name="files[]" id="files" multiple directory="" webkitdirectory="" moxdirectory="" /><br/><br/> 
        <input type="Submit" value="Upload" name="upload" />
        </form>
    </body>
</html>